.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.center{
    text-align: center;
}
.custome-item{
    display: block;
}
.justify-between{
    justify-content: space-between;
}
.mb-60{
    margin-bottom: 60px;
}